@import url("variables.css");


.page-heading {
  font-family: "Tanker-Regular", sans-serif;
  font-weight: 200;
  letter-spacing: -0.02em;
  font-style: normal;
  font-size: 10rem;
  color: var(--accent-main);

  text-align: center;
  margin-top: 3rem;
/* 
  color: transparent;
  -webkit-text-stroke-width: 1.5px; /* Clean, distinct edge thickness */
  /* -webkit-text-stroke-color: var(--accent-main); */ 
}

@media (max-width: 768px) {
  .page-heading {
    margin-top: 7rem;
  }
}