/* ==========================================================================
   RESET & SYSTEM VARIABLE DEFAULTS
   ========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent-main: #333333; 
  --accent-light: #ebf3ed;
  --accent-text: #475569;
  --special-accent: #bd5d3f;
  --text-dark: #1e293b;
  --background-color: #f0eee6;
  --secondary-background: #f0eee6;
  --dark-background-color: #161616;
  --font-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --line-height-hero: 1.15;
}

body {
  font-family: var(--font-primary);
  background-color: var(--background-color);
  color: var(--text-dark);
  overflow-x: hidden;
}



.checkerboard-divider {
  --accent-color1: var(--accent-main);
  --accent-color2: transparent;
  --checkerboard-height: 40px;
}


@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit/Outfit-VariableFont_wght.woff2') format('woff2-variations'),
       url('../fonts/Outfit/Outfit-VariableFont_wght.woff') format('woff-variations'),
       url('../fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Tanker-Regular';
  src: url('../fonts/tanker/Tanker-Regular.woff2') format('woff2'),
       url('../fonts/tanker/Tanker-Regular.woff') format('woff'),
       url('../fonts/tanker/Tanker-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Geometr706-Cond';
  src: url('../fonts/Geometr706/Geometr706.woff2') format('woff2'),
       url('../fonts/Geometr706/Geometr706.woff') format('woff'),
       url('../fonts/Geometr706/Geometr706.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Anton';
  src: url('../fonts/Anton/Anton-Regular.woff2') format('woff2'),
       url('../fonts/Anton/Anton-Regular.woff') format('woff'),
       url('../fonts/Anton/Anton-Regular.ttf') format('truetype');
  font-weight: 400; /* Added standard weight since this is a regular static font */
  font-display: swap;
  font-style: normal;
}