/* ==========================================================================
   GLOBAL LAYOUT SCALER (ZOOM CONTROL)
   ========================================================================== */

@media (max-width: 768px) {
  :root {
    font-size: 13px; 
  }

  .hero-content,
  .software-stack-container,
  nav {
    transform: scale(0.9);
    transform-origin: center top; 
    
    max-width: 100vw;
    box-sizing: border-box;
  }
  
  body {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

